@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (min-width: 1440px) {
  html {
    font-size: 100%;
  }
}

button:hover, input[type="checkbox"]:hover {
  cursor: pointer;
}